body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 20px 0px;
}

h1 {
    font-size: 26px;
    margin-top: 30px;
}

li {
    font-size: 18px;
    list-style: none;
    padding: 0;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 10px;
}

.weather-app-wrapper {
    padding: 15px;
}


.today-info {
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.weather-temperature img {
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    font-size: 64px;
    font-weight: 100;
    line-height: 1;
    margin-left: 15px;
}

.units {
    font-size: 16px;
    position: relative;
    top: -34px;
}

.today-weather-info {
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.card {
    text-align: center;
    margin-top: 30px;
}

.forecast-icon {
    display: block;
    margin: 15px auto;
    height: 50px;
    width: 50px;
}

.weather-forecast-temperatures {
    font-size: 15px;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

p {
    text-align: center;
    margin-top: -20px;
    font-size: 13px;
}

